[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pytest = "*"

[packages]
tensorflow = "*"
pennylane = "*"
matplotlib = "*"
sympy = "*"
strawberryfields = {editable = true,path = "./strawberryfields"}
pennylane-sf = "*"

[requires]
python_version = "3.7"
